/* Image style */
#scrollUp {
    background-image: url("../image/arrow.png");
    /* background-size: cover; */
    background-color: black;
    bottom: 5px;
    right:  5px;
    width:  5px;    /* Width of image */
    height: 5px;   /* Height of image */
    text-indent: -9999px;
    display: block;
}
