/* Image style */
#scrollUp {
    background-image: url("../image/top.png");
    background-size: cover;
    background-color: black;
    bottom: 20px;
    right:  20px;
    width:  20px;    /* Width of image */
    height: 20px;   /* Height of image */
    text-indent: -9999px;
    display: block;
}
